<section class="py-20 border-b border-t hdbg mt-0 lg:mt-0 md:mt-0">
<div class="container px-4 mx-auto">
  <div class="flex items-center">
	
	<div class="max-w-3xl mx-auto flex flex-wrap items-center">
	  <div class="w-full lg:w-2/5 mb-6 lg:mb-0 flex flex-wrap items-center justify-between">
		<div>
		  <img class="mb-6 h-14 w-14 rounded-full object-cover object-top" src="{{ site.site_url }}/assets/images/companies/hapstak.jpg" alt="Hapstak Logo">
		  <p class="mb-2 text-2xl font-semibold font-heading">Bill Young</p>
		  <p class="text-gray-500">HapstakDemetriou+</p>
		</div>
	  </div>
	  <div class="w-full lg:w-3/5">
		<p class="text-xl">"Hands down the best decision our firm has made this year. Grove Technologies have been instrumental in restructuring our internal network and helped resolve a whole host of issues that have plagued our firm for years."</p>
		<a class="mt-5 inline-block w-full md:w-auto mb-2 mr-4 text-lg font-medium leading-normal font-semibold" href="{{ site.site_url }}/survey">Read More Reviews <svg class="inline -mt-1" width="19" height="13" viewBox="0 0 19 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.7 6.7487L0.75 6.7487" stroke="#000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M9.7002 11.7497L17.6372 6.7487L9.7002 1.7477V11.7497Z" stroke="#000" fill="#000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg></a>
	  </div>
	</div>
	
  </div>
</div>
</section>