<div class=""> 
    
      <section class="relative md:pb-10 lg:pb-0"><nav class="flex justify-between items-center py-8 px-4 xl:px-10"><a class="text-xl text-green-500 font-semibold ml-2" href="{{ site.site_url }}">
            <img class="h-14" src="{{ site.site_url }}/assets/images/favicons/header-icon.png" alt="Grove Logo" width="auto">Grove</a>
          <div class="lg:hidden">
            <button class="navbar-burger flex items-center p-3 rounded">
              <svg class="block h-8 w-8" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Mobile menu</title><path fill="#1abd6f" d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path></svg></button>
          </div>
          <ul class="hidden lg:flex lg:ml-auto lg:mr-12 lg:items-center lg:w-auto lg:space-x-12">
		   
		   <div class="dropdown inline-block relative z-50">
			<li><a class="text-xl font-medium" href="{{ site.site_url }}/services/">Services <svg class="inline fill-current h-4 w-4 -mt-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/> </svg></a></li>
			<ul class="dropdown-menu absolute hidden text-gray-700 pt-1 w-80 shadow-lg overflow-hidden">
			  <li class=""><a class="border-opacity-50 rounded-t mt-2 border-t-2 border-l-2 border-r-2 border-green-500 bg-green-50 py-2 px-4 block whitespace-no-wrap hover:bg-green-500 hover:text-white" href="{{ site.site_url }}/pricing/government/">Government Services</a></li>
			  <li class=""><a class="border-opacity-50 rounded-b border-b-2 border-l-2 border-r-2 border-green-500 bg-green-50 py-2 px-4 block whitespace-no-wrap hover:bg-green-500 hover:text-white" href="{{ site.site_url }}/products/security/cmmc/">CMMC Prepration Services</a></li>
			</ul>
		  </div>

            <li><a class="text-xl font-medium" href="{{ site.site_url }}/pricing/">Managed Support</a></li>
            <li><a class="text-xl font-medium" href="{{ site.site_url }}/pricing/network/">Networking</a></li>
            <li><a class="text-xl font-medium" href="{{ site.site_url }}/products/ciso/">Cybersecurity</a></li>
            <li><a class="text-xl font-medium" href="{{ site.site_url }}/blog/">Blog</a></li>
          </ul><div class="hidden lg:block"><a class="inline-block py-3 px-8 text-xl leading-normal font-medium rounded transition duration-200 bg-green-500 text-white" href="https://portal.grovetech.co/">Login</a></div>
        </nav>
        
       
          <div class="hidden navbar-menu fixed top-0 left-0 bottom-0 w-5/6 max-w-sm z-50">
          <div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-25"></div>
          <nav class="relative flex flex-col py-6 px-6 w-full h-full bg-white border-r overflow-y-auto"><div class="flex items-center mb-8">
              
             
            
            
              <a class="mr-auto text-lg text-green-500 font-semibold text-xl mt-2" href="{{ site.site_url }}">
                <img class="h-14" src="{{ site.site_url }}/assets/images/favicons/header-icon.png" alt="Grove Logo" width="auto">Grove</a>
              <button class="navbar-close">
                <svg class="h-6 w-6 text-gray-500 cursor-pointer" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path></svg></button>
            </div>
            <div>
              <ul>
                <li class="mb-1"><a class="block p-4 text-sm font-medium text-gray-900 rounded" href="{{ site.site_url }}/services/">Services</a></li>
                <li class="mb-1"><a class="block p-4 text-sm font-medium text-gray-900 rounded" href="{{ site.site_url }}/pricing/">Managed Support</a></li>
                <li class="mb-1"><a class="block p-4 text-sm font-medium text-gray-900 rounded" href="{{ site.site_url }}/pricing/government/">Government Services</a></li>
                <li class="mb-1"><a class="block p-4 text-sm font-medium text-gray-900 rounded" href="{{ site.site_url }}/products/security/cmmc/">CMMC Services</a></li>
                <li class="mb-1"><a class="block p-4 text-sm font-medium text-gray-900 rounded" href="{{ site.site_url }}/pricing/network/">Networking</a></li>
                <li class="mb-1"><a class="block p-4 text-sm font-medium text-gray-900 rounded" href="{{ site.site_url }}/products/ciso/">Cybersecurity</a></li>
                <li class="mb-1"><a class="block p-4 text-sm font-medium text-gray-900 rounded" href="{{ site.site_url }}/blog/">Blog</a></li>
              </ul></div>
            <div class="mt-auto">
              <div class="pt-6"><a class="block py-3 text-center text-xl leading-normal font-semibold rounded transition duration-200 bg-green-500 text-white" href="https://portal.grovetech.co/">Login</a></div>
              <p class="mt-6 mb-4 text-sm text-center text-gray-500">
                <span>© <script>document.write(new Date().getFullYear())</script> All rights reserved.</span>
              </p>
            </div>
          </nav></div>
      </section>