<section class="py-20"><div class="container px-4 mx-auto">
  <div class="flex flex-wrap items-center -mx-4 lg:-mb-8">
	<div class="w-full md:w-1/2 lg:w-1/4 px-4 mb-8 text-center">
	  <h3 class="mb-6 font-semibold font-heading text-lg">Phone</h3>
	  <p class="text-xl text-gray-800"><a href="tel:+18882539103" title="Call Us">(888) 253-9103</a></p>
	</div>
	<div class="w-full md:w-1/2 lg:w-1/4 px-4 mb-8 text-center">
	  <h3 class="mb-6 font-semibold font-heading text-lg">SMS</h3>
	  <p class="text-xl text-gray-800"><a href="tel:+12404518688" title="Text Us">(240) 451-8688</a></p>
	</div>
	<div class="w-full md:w-1/2 lg:w-1/4 px-4 mb-8 text-center">
	  <h3 class="mb-6 font-semibold font-heading text-lg">E-Mail</h3>
	  <p class="text-xl text-gray-800"><a href="matilto:support@grovetech.co">support@grovetech.co</a></p>
	</div>
	<div class="w-full md:w-1/2 lg:w-1/4 px-4 mb-8 text-center">
	  <h3 class="mb-6 font-semibold font-heading text-lg">Calendar</h3>
	  <p class="text-xl rounded bg-green-500 py-2 text-white cursor-pointer" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/grove-sales-team/grove-sales-call'});return false;">Contact Sales</p>
	</div>
  </div>
</div>
</section>