<section class="bg-green-500 py-20">
<div class="container px-6 mx-auto">
  <h2 class="mb-8 md:mb-16 text-4xl lg:text-6xl font-semibold font-heading text-white">Looking for Help on a Short Term or Project Basis?</h2>
  <div class="flex flex-wrap items-center">
	<div class="inline-block max-w-4xl mb-6 md:mb-0">
	  <p class="text-xl text-white">We have assisted many businesses in implementing MDMs, developing custom security policies and procedures, and redesigning their networks.The list goes on and on. Contact us today and see how we can help you too.</p>
	  <a class="inline-block mt-10 mr-auto w-full md:w-auto px-12 py-4 text-green-500 text-center text-lg font-medium leading-normal bg-white rounded transition duration-200 cursor-pointer" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/grove-sales-team/grove-sales-call'});return false;">Contact Sales</a>
	</div>
  </div>
</div>
</section>