<section class="py-20 border-b">
<div class="container px-4 mx-auto">
  <div class="flex flex-wrap items-center -mx-4">
	<div class="w-full lg:w-1/2 px-4 mb-12 md:mb-16 lg:mb-0">
	  <div class="max-w-md">
		<span class="text-xs text-green-500 font-semibold">Our Security Partners</span>
		<h2 class="mt-8 mb-10 text-4xl font-semibold font-heading">Security of your data is our number one priority.</h2>
		<p class="text-xl text-gray-500 mb-6">We work with the best to ensure your data is safe and protected. Our secure development process follows OWASP top 10 guidelines, and we scan our code and cloud systems for vulnerabilities daily.</p>
		<a class="inline-block py-4 px-8 text-lg text-white font-medium leading-normal bg-green-500 transition duration-200 rounded cursor-pointer" href="https://grove.statuspage.io/" targer="_blank">Visit Status Page</a> 
	  
	  </div>
	</div>
	<div class="w-full lg:w-1/2 px-4">
	  <div class="flex flex-wrap -m-4">
		<div class="w-1/2 md:w-1/3 p-4">
		  <div class="py-12 bg-gray-50 rounded-xl">
			<img class="h-8 mx-auto" src="{{ site.site_url }}/assets/images/brands/aws.svg" alt="AWS Logo">
		  </div>
		</div>
		<div class="w-1/2 md:w-1/3 p-4">
		  <div class="py-12 bg-gray-50 rounded-xl">
			<img class="h-8 mx-auto" src="{{ site.site_url }}/assets/images/brands/ddog.svg" alt="DataDog Logo">
		  </div>
		</div>
		<div class="w-1/2 md:w-1/3 p-4">
		  <div class="py-12 bg-gray-50 rounded-xl">
			<img class="h-8 mx-auto" src="{{ site.site_url }}/assets/images/brands/linode.svg" alt="Linode Logo">
		  </div>
		</div>
		<div class="w-1/2 md:w-1/3 p-4">
		  <div class="py-12 bg-gray-50 rounded-xl">
			<img class="h-8 mx-auto" src="{{ site.site_url }}/assets/images/brands/vanta.svg" alt="Vanta Logo">
		  </div>
		</div>
		<div class="w-1/2 md:w-1/3 p-4">
		  <div class="py-12 bg-gray-50 rounded-xl">
			<img class="h-8 mx-auto" src="{{ site.site_url }}/assets/images/brands/google.svg" alt="Google Logo">
		  </div>
		</div>
		<div class="w-1/2 md:w-1/3 p-4">
		  <div class="py-12 bg-gray-50 rounded-xl">
			<img class="h-8 mx-auto" src="{{ site.site_url }}/assets/images/brands/jira.svg" alt="Jira Logo">
		  </div>
		</div>
		<div class="w-1/2 md:w-1/3 p-4">
		  <div class="py-12 bg-gray-50 rounded-xl">
			<img class="h-10 mx-auto" src="{{ site.site_url }}/assets/images/brands/confluence.svg" alt="Confluence Logo">
		  </div>
		</div>
		<div class="w-1/2 md:w-1/3 p-4">
		  <div class="py-12 bg-gray-50 rounded-xl">
			<img class="h-10 mx-auto" src="{{ site.site_url }}/assets/images/brands/firehydrant.io.png" alt="FireHydrant Logo">
		  </div>
		</div>
		<div class="w-1/2 md:w-1/3 p-4">
		  <div class="py-12 bg-gray-50 rounded-xl">
			<img class="h-10 mx-auto" src="{{ site.site_url }}/assets/images/brands/okta.svg" alt="Okta Logo">
		  </div>
		</div>
		<div class="w-1/2 md:w-1/3 p-4">
		  <div class="py-12 bg-gray-50 rounded-xl">
			<img class="h-10 mx-auto" src="{{ site.site_url }}/assets/images/brands/github.svg" alt="Github Logo">
		  </div>
		</div>
		<div class="w-1/2 md:w-1/3 p-4">
		  <div class="py-12 bg-gray-50 rounded-xl">
			<img class="h-10 mx-auto" src="{{ site.site_url }}/assets/images/brands/cloudflare.svg" alt="Cloudflare Logo">
		  </div>
		</div>
		<div class="w-1/2 md:w-1/3 p-4">
		  <div class="py-12 bg-gray-50 rounded-xl">
			<img class="h-10 mx-auto" src="{{ site.site_url }}/assets/images/brands/synk2.png" alt="Synk Logo">
		  </div>
		</div>
	  </div>
	</div>
  </div>
</div>
</section>