<section class="">
<div class="container">

	
	<div class="w-full">
	  <form action="https://formspree.io/f/xeqnvwln" method="POST" id="form-apply" name="form-apply" enctype="multipart/form-data">
		<div class="relative flex flex-wrap mb-6">
		  <input class="relative mb-2 md:mb-0 w-full py-4 pl-4 text-sm border rounded border-green-500 focus:outline-none focus:ring focus:border-blue-300" type="text" placeholder="Full Name" name="Apply[name]" id="apply_name" required><span class="absolute top-0 left-0 ml-4 -mt-2 px-1 inline-block bg-white text-gray-500 text-xs">Full Name</span>
		</div>
		<div class="md:flow-root">
		<div class="relative flex mb-5">
		  <input class="relative mb-2 md:mb-0 w-full py-4 pl-4 text-sm border rounded border-green-500 focus:outline-none focus:ring focus:border-blue-300" type="email" name="Apply[email]" id="apply_email" placeholder="e.g hello@example.io" required><span class="absolute top-0 left-0 ml-4 -mt-2 px-1 inline-block bg-white text-gray-500 text-xs">Your email address</span>
		</div>
		<div class="relative flex mb-5">
		  <input class="relative mb-2 md:mb-0 w-full py-4 pl-4 text-sm border rounded border-green-500 focus:outline-none focus:ring focus:border-blue-300" type="text" placeholder="Phone Number" name="Apply[phone]" id="apply_phone" required><span class="absolute top-0 left-0 ml-4 -mt-2 px-1 inline-block bg-white text-gray-500 text-xs">Phone Number</span>
		</div>
		</div>
		<div class="md:flow-root">  
		<div class="relative mb-5">
		  <input class="relative mb-2 md:mb-0 w-full py-4 pl-4 text-sm border rounded border-green-500 focus:outline-none focus:ring focus:border-blue-300" type="text" placeholder="Applicant Location" name="Apply[location]" id="apply_location" required><span class="absolute top-0 left-0 ml-4 -mt-2 px-1 inline-block bg-white text-gray-500 text-xs">Where are you located?</span>
		</div>
		</div>
		
		
                
                
		<div class="relative flex flex-wrap mb-6">
			<fieldset id="fs-frm-selects" class="flex w-full">
		  
		  <select name="job_name" id="job_name" required="" class="block appearance-none relative mb-2 md:mb-0 flex w-full py-4 pl-4 text-sm border rounded resize-none border-green-500 focus:outline-none focus:ring focus:border-blue-300">
			<option class="block w-full" value="" selected="" disabled="">What job are you applying for?</option>
			<option class="block w-full" value="Jr Mac Support Specialist">Jr Mac Support Specialist</option>
			<option class="block w-full" value="Mac Support Specialist">Mac Support Specialist</option>
			<option class="block w-full" value="Sr Mac Support Specialist">Sr Mac Support Specialist</option>
			<option class="block w-full" value="Cybersecurity vCISO">Cybersecurity vCISO</option>
			<option class="block w-full" value="Certified Ethical Hacker / Penetration Tester">Certified Ethical Hacker / Penetration Tester</option>
			<option class="block w-full" value="On Site Technician">On Site Technician</option>
		  </select>
		  <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"></path></svg>
                    </div>
		</fieldset>
		</div>
		<div class="relative flex flex-wrap mb-6">
		  <textarea required class="relative mb-2 md:mb-0 w-full py-4 pl-4 text-sm border rounded resize-none border-green-500 focus:outline-none focus:ring focus:border-blue-300" id="1" type="message" cols="30" rows="10" placeholder="What challenges are you facing?" name="Apply[message]" id="apply_message" required></textarea><span class="absolute top-0 left-0 ml-4 -mt-2 px-1 inline-block bg-white text-gray-500 text-xs">Cover Letter</span>
		  <input type="text" name="_gotcha" style="display:none">
		</div>
		
		<div class="relative flex flex-wrap mb-6">
		
		<div class="flex justify-center">
  <div class="mb-3 w-96">
    <label for="formFileLg" class="form-label inline-block mb-2 text-gray-700">Upload Resume</label>
    <input class="form-control
    block
    w-full
    px-2
    py-1.5
    text-xl
    font-normal
    text-gray-700
    bg-white bg-clip-padding
    border border-solid border-gray-300
    rounded
    transition
    ease-in-out
    m-0
    focus:text-gray-700 focus:bg-white focus:border-green-500 focus:outline-none" id="formFileLg" type="file" required>
  </div>
</div>



		</div>
		
		
	    <div class="relative flex flex-wrap mb-6">
			<div class="g-recaptcha" data-sitekey="6LfbeLEcAAAAACEzjNbjfZWbF4jJX0u_gotEJsDf"></div>
	    </div>
		<button class="w-full inline-block px-6 py-4 text-xl text-white rounded transition duration-200 bg-green-500">Submit Job Posting</button>
	  </form>
	  <div id="response-message-apply"></div>
	</div>

</div>
</section>